<div class='clearfix'>
	<%= form.label :login %>
	<div class='input'>
		<%= form.text_field :login %>
	</div>
</div>
<div class='clearfix'>
	<%= form.label :email %>
	<div class='input'>
		<%= form.text_field :email %>
	</div>
</div>
<div class='clearfix'>
	<%= form.label :password, form.object.new_record? ? nil : "Change password" %>
	<div class='input'>
		<%= form.password_field :password %>
	</div>
</div>
<div class='clearfix'>
	<%= form.label :password_confirmation %>
	<div class='input'>
		<%= form.password_field :password_confirmation %>
	</div>
</div>