<div class="row">
	<div class="span10 columns offset3">
		<% if current_user.nil? %>
		<div class="alert-message info">
			SuitRiot is a web app for sharing and voting on pictures of men's clothing. Create an account for free in order to share your own images and save your voting history.
		</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span10 columns">
		<center>
			<div class="well">
				<img width=540 src="<%= @image.url %>">
			</div>
		</center>
		<% @image.votes.each do |vote| %>
			<%= render :partial => 'shared/comment_block', :object => vote %>
		<% end %>
	</div>
	<div class="span6 columns">
		<div class="well">
			Submitted by <b><%= @image.user.login %></b> <%= time_ago_in_words(@image.created_at) %> ago. 
		</div>
		<div class="well">
			<h3>Judge this Image</h3><br />
			<div class="clearfix">
			<% form_for @vote, :url => account_path do |f| %>
				<%= render :partial => 'shared/voting_pane', :object => f %>
			<% end %>
			</div>
		</div>
	</div>
</div>